@page "/StartStop"
@using Microsoft.EntityFrameworkCore.SqlServer.Query.Internal;
@using Microsoft.EntityFrameworkCore.Query.SqlExpressions;
@inject HttpClient _client
@inject NavigationManager _navManager
@inject HttpInterceptorService _interceptor
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Http;
@using Microsoft.EntityFrameworkCore;
@using Radzen
@using Microsoft.SqlServer;
@using Microsoft.SqlServer.Server;
@using Microsoft.Data.Sql;
@using Microsoft.Data.SqlClient;
@using Microsoft.Data.SqlClient.DataClassification;
@using Microsoft.Data.SqlClient.Server;
@inject IJSRuntime JSRuntime
@using Radzen.Blazor
@using System.Globalization
@using Syncfusion.Pdf
@using Syncfusion.Pdf.Grid;
@using Syncfusion.Drawing;
@using Syncfusion.Pdf.Graphics;
@using System.IO;
@using SLeepApnea.Client;

<h5>Choose Patient:</h5>
<select class="form-control" @bind="@inputValues">
	<option value="">-- Select Patient --</option>
	@if (patients != null)
	{
		foreach (var patient in patients)
		{
			<option value="@patient.ID">@patient.Name</option>
		}
	}
</select>
<br>
<button class="btn-primary" @onclick="@CreateIDss">Select</button>
@*<button class="btn-primary">stop</button>*@

@code
{
	[Parameter] public int id { get; set; } = 20;
	VitalData vitalData = new VitalData();
	private List<Patient> patients;
	private List<VitalData> vitalDatas;
	protected async override Task OnInitializedAsync()
	{
		_interceptor.MonitorEvent();
		patients = await _client.GetFromJsonAsync<List<Patient>>("api/Patients");
		vitalDatas = await _client.GetFromJsonAsync<List<VitalData>>("api/VitalDatas");
	}
	private static int inputValues { get; set; }
	private void OnInputValues(ChangeEventArgs changeEvent)
	{
		inputValues = (int)changeEvent.Value;
	}
	private async Task CreateID()
	{
		var vitaldata = new VitalData{ PatientID = inputValues };
		await _client.PostAsJsonAsync(Endpoints.VitalDatasEndpoint, vitaldata);
	}
	//async Task CreateIDs()
	//{
	//	var vitaldata = new VitalData { PatientID = inputValues };
	//	await _client.PutAsJsonAsync(Endpoints.VitalDatasEndpoint, vitaldata);
	//}
	private async Task CreateIDss()
	{
		@foreach(var vitaldata in vitalDatas)
		{
			@if(vitaldata.PatientID == null)
			{
				var vitaldatas = new VitalData {ID = vitaldata.ID, BPM = vitaldata.BPM,SpO2=vitaldata.SpO2,Date = vitaldata.Date, Movement = vitaldata.Movement, Time = vitaldata.Time, PatientID = inputValues };
				await _client.PutAsJsonAsync($"{Endpoints.VitalDatasEndpoint}", vitaldatas);
			}
		}
	}

}