@page "/doctors/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Doctor</h3>

<FormComponent ButtonText="Update" OnValidSubmit="Editdoctor" doctor="doctor" />

@code {
	[Parameter] public int id { get; set; }
	Doctor doctor = new Doctor();

	protected async override Task OnParametersSetAsync()
	{
		doctor = await _client.GetFromJsonAsync<Doctor>($"{Endpoints.DoctorsEndpoint}/{id}");
	}

	async Task Editdoctor()
	{
		await _client.PutAsJsonAsync($"{Endpoints.DoctorsEndpoint}/{id}", doctor);
		_navManager.NavigateTo("/doctors/");
	}
}
